{% extends "main.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h1>Index</h1>

    <p class="important">
      Welcome to the search page
    </p>
    
    <form action="/search_form">

      <label for="search-terms">Search:</label>
      <input type="text" name="search" id="search-terms" />
    
      <input type="submit" />
    
    </form>
    
{% endblock %}




  <!-- <p>Let's search for  something</p>

  <form action="/" method="POST">
    <h2>Big Search Form</h2>
    <p>
      <label for="big_search">Search for something</label>
      <input type="text" name="big_search"/>
    </p>
    <p>
      <label for="description">Description:</label>
      <textarea name="description"></textarea>
    </p>
    
    <p><input type="submit" name="submit_recipe"/></p>
  </form>
{% endblock %} -->